
.theme-bg-primary{
    background-color: #F8F6F4 !important;
}

.bg-secondary{
    background-color: #3b90f1 !important;

}

.main{
    height: 470px;
    padding: 200px;
    border-radius: 10px 10px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: 120%;
    background-position: center;
    box-shadow: inset 0px 0px 10px -5px rgb(160, 160, 160);
    background-repeat: no-repeat;
    opacity: .7;
}
#inp_text{
    border-radius: 20px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: inset 0px 0px 5px -2px rgb(160, 160, 160);
}
.main::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: inset 0px 0px 5px -2px rgb(160, 160, 160);
}
.main::-webkit-scrollbar-thumb{
    background: dodgerblue;
    border-radius: 10px;
}
.main::-webkit-scrollbar-thumb:hover{
    background: rgb(14, 129, 243);
}
.chat-container {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
  }

  .chat-bubble {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .user-bubble {
    background-color: #d9f2d9;
    align-self: flex-end;
  }
  